{
  "presets": [
    "babel-preset-philpl/without-extras"
  ],
  "ignore": [
    "/node_modules/"
  ],
  "plugins": [],
  env: {
    commonjs: {
      plugins: [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
